.game-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.green {
  background: #8cb369;
}

.orange {
  background: #f4a259;
}

.grey {
  background: lightgrey;
}

.guess-output-wrapper {
  display: flex;
}

.hint-text {
  text-align: center;
  max-width: 300px;
  padding-bottom: 1rem;
}

button {
  margin: 0 0.5rem;
}

.input-wrap {
  margin-bottom: 1rem;
}

.output-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  border: 2px solid black;
  font-size: 1.5rem;
  margin: 0.25rem;
}

.rules-btn {
  border: none;
  margin: 0;
}

.lang-btn {
  border: none;
  margin: 0;
  font-style: italic;
}

.rules {
  padding: 1rem 0;
  max-width: 300px;
}

.end-text {
  max-width: 300px;
  text-align: center;
  padding: 1rem 0;
}
