<div>
    <div class="header stdPad">
        <div class="titlebox">
            <div>
                <span class="title">Vocab Game</span><br>
                <span class="subHeading">Can you guess it?!</span>
            </div>
        </div>
    </div>

    <!-- <div class="socialLinks">
        <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=LU-uVdLlQ-im_h-teL6msg">
            <img src="assets/spotify.png"/>
        </a>
    </div> -->
    
    <div class="gutters">
        <app-game></app-game>
        <!-- <router-outlet></router-outlet> -->
    </div>
    
    <div class="footer">
        <div class="contact">
            Hope you had fun :) -RS
        </div>
    </div>
</div>